body {
    background-color: #f2f2f2;
    font-family: arial, helvetica, sans-serif;
}
div {
    margin: 300px 100px 0px 200px
}
button {
    font: bold 30px sans-serif;
    text-decoration: none;
    background-color: white;
    color: darkslategrey;
    border: none;
    border-bottom: 4px solid #56d08c;
}
textarea {
    padding: 12px 0px 0px 20px;
    box-sizing: border-box;
    border: 0.5px solid #7c7c7c;
    border-radius: 5px;
    background-color: azure;
    font-size: 14px;
    resize: none;
    
}
input[type=text] {
    padding: 5px 0px 5px 5px;
    box-sizing: border-box;
    border: 0.5px solid #7c7c7c;
    border-radius: 5px
}
input[type=button] {
    width: auto;
    border: 0.5px solid #7c7c7c;
}
form {
    font-size: 30px
    
}