body {
                background-color: #f2f2f2;
                font-family: arial, helvetica, sans-serif;
}
div{
                margin: 300px 100px 100px 200px
button {
                font: bold 25px sans-serif;
                font: bold 30px sans-serif;
                text-decoration: none;
                background-color: #EEEEEE;
                background-color: white;
                color: #7c7c7c;
                padding: 10px 10px 10px 10px;
                border: 1px solid grey
                border-style: outset;
                border-color: #56d08c;
}